body {
  background-color: #bdd5fc;
}

.container {
  text-align: center;
}

.border {
  margin-top: 50px;
  margin-bottom: 50px;
}

#name-input {
  padding-left: 300px;
}

#user-color {
  width: 120px;
}

#survey-finished {
  display: none;
}

#CDiv {
  display: none;
}

#PHPDiv {
  display: none;
}

#JDiv {
  display: none;
}
