body {
  background-color: black;
  color: #51ff44;
}

.fade-set {
  display: none;
}

.container {
  text-align: center;
}

.border {
  margin-top: 50px;
  margin-bottom: 50px;
  border: green solid 1px;
}


.btn {
  border-color: green;
}

.btn-primary {
  background-color: black;
  color: #51ff44;
}

input[type="text"], textarea {
  background-color: black;
  color: #51ff44;
}

#start-div {
  margin-top: 300px;
}

#begin {
  display: none;
}

#describe {
  display: none;
}

#track-survey {
  display: none;
}

#name-input {
  padding-left: 300px;
}

#user-color {
  width: 120px;
}

#calculate {
  display: none;
}

#survey-finished {
  display: none;
}

#CDiv {
  display: none;
}

#PHPDiv {
  display: none;
}

#JDiv {
  display: none;
}

#exit-message {
  display: none;
  vertical-align: top;
  text-align: left;
}

#error {
  display: none;
}
